{% extends 'base.html' %}

{% block content %}

<div id="wrapper" class="wrapper clearfix">
	<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<p>Welcome Back</p>
									<h6>Login Area</h6>
									<div class="sign-form">
										<form class="mb-0" action="" method="post">
											<div class="form-group">
												{% csrf_token %}
    											{{ form.as_p }}
											</div>
										<!--	<div class="form-group">
												<input type="text" class="form-control" id="username" placeholder="User Name">
											</div>
											<div class="form-group">
												<input type="password" class="form-control" id="pwd" placeholder="Password">
											</div>
											<div class="checkbox pull-left">
												<label>
													<input type="checkbox">
													Remember me</label>
											</div>
											<div class="pull-right lost-pass">
												<a href="#">Forget Password?</a>
											</div> -->
											<button type="submit" class="btn btn-primary btn-block">Sign In</button>
										</form>
										<div class="form-links text-center">
											<a href="{% url 'register' %}">Create New Account</a>
										</div>
										{% if error %}
										<div class="form-links text-center">
											<p>{{ error }}</p>
										</div>
										{% endif %}
									</div>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
</div>

{% endblock %}