{% extends 'base.html' %}
{% block content %}
<!-- Page Title
============================================= -->
	<section id="page-title" class="page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6">
					<h1>Student Info Search</h1>
				</div>
				<!-- .col-md-6 end -->
				<div class="col-xs-12 col-sm-12 col-md-6">
					<ol class="breadcrumb text-right">
						<li>
							<a href="">Home</a>
						</li>
						<li class="active">Student</li>
						<li class="active">Info</li>
					</ol>
				</div>
				<!-- .col-md-6 end -->
			</div>
			<!-- .row end -->
		</div>
		<!-- .container end -->
	</section>
	<!-- #page-title end -->

	<section id="" class="">
		<div class="container">
            <div class="row">
				<div class="col-xs-12 col-sm-12 col-md-9">
					<div class="row">
						<form action="" class="form" method="get">
                        Student Name: <input type="text" class="" id="name" placeholder="Student Name">
                        Student Roll: <input type="text" class="" id="roll" placeholder="Roll Number">
						<input type="submit" value="Submit">
						</form>
					</div>
					<!-- .row end -->
				</div>

			</div>
			<!-- .row end -->

		</div>
		<!-- .container end -->
	</section>
	<!-- #blog end -->


{% endblock %}