{% extends 'base.html' %}

{% block content %}
  <h1 align="center">All Student List</h1>
    <div class="container">
        <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
            {% for students in std_list %}
                <tr>
                    <td><a href="{% url 'std-info' students.roll %}">{{ students.name }}</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}