{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align:center"> {{std_info.name}} </h1>
    <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Roll</th>
                <th>Gender</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{std_info.name}}</td>
                <td>{{std_info.roll}}</td>
                <td>{{std_info.gender}}</td>
                <td>{{std_info.department}}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}}