{% extends 'base.html' %}
{% block content %}
<!-- Page Title
============================================= -->
	<section id="page-title" class="page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6">
					<h1>Student Info Search</h1>
				</div>
				<!-- .col-md-6 end -->
				<div class="col-xs-12 col-sm-12 col-md-6">
					<ol class="breadcrumb text-right">
						<li>
							<a href="">Home</a>
						</li>
						<li class="active">Student</li>
						<li class="active">Info</li>
					</ol>
				</div>
				<!-- .col-md-6 end -->
			</div>
			<!-- .row end -->
		</div>
		<!-- .container end -->
	</section>
	<!-- #page-title end -->


	<section class="contact">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 widget-contact pl-0 pr-0 p-none-xs p-none-sm">
					<form id="contact-form" action="" method="get">
						{{ form.as_p }}
						<!-- <div class="col-md-6">
							<input type="text" class="form-control mb-30" id="name" placeholder="Class" name="std-class"/>
						</div>
						<div class="col-md-6">
							<input type="number" class="form-control mb-30" id="name" placeholder="Id" name="std-roll"/>
						</div> -->

						<div class="col-md-12">
							<br>
							<button type="submit" class="btn btn-primary btn-block">Submit</button>
						</div>
					</form>
				</div>
			</div>
			<!-- .row end -->
			<div class="container">
				<br><br>
			{% if std %}
				<table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>Roll</th>
                                        <th>Gender</th>
                                        <th>Department</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{std.name}}</td>
                                        <td>{{std.std_class}}</td>
                                        <td>{{std.roll}}</td>
                                        <td>{{std.gender}}</td>
                                        <td>{{std.department}}</td>
                                    </tr>
                                </tbody>
                            </table>
		{% endif %}

		{% if error %}
		<b class="text-danger">{{ error }}</b>
		{% endif %}

				</div>
		</div>
		<!-- .container end -->
		<br>
		<br>
		<br>




	</section>


{% endblock %}