{% extends 'base.html' %}

{% block content%}
<h1 align="center">Welcome to Our Blog</h1>
    <div class="container">
        <table class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
            {% for blogs in blog_list %}
                <tr>
                    <td><a href="{% url 'blog-post' blogs.id %}">{{ blogs.title }}</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}
