{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<!-- Document Meta
    ============================================= -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--IE Compatibility Meta-->
<meta name="author" content="zytheme" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="construction html5 template">
<link href="assets/images/favicon/favicon.ico" rel="icon">

<!-- Fonts
    ============================================= -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CUbuntu:300,300i,400,400i,500,500i,700,700i' rel='stylesheet' type='text/css'>

<!-- Stylesheets
    ============================================= -->
<link href="{% static 'assets/css/external.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
      <script src="{% static 'assets/js/html5shiv.js'}"></script>
      <script src="{% static 'assets/js/respond.min.js'}"></script>
    <![endif]-->

<!-- Document Title
    ============================================= -->
<title>TaskDjango | Enaan Farhan</title>
    {% block head_script %}
    {% endblock %}
</head>
<body>
<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="wrapper clearfix">
	<header id="navbar-spy" class="header header-3">
		<nav id="primary-menu" class="navbar navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="logo" href="index.html">
					<img src="{% static 'assets/images/logo/logo-light.png' %}" alt="Autoshop">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse pull-right" id="header-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<!-- Raw Code <li class="has-dropdown active"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Home</a></li>-->
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'std-list' %}">Student List</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'add-list' %}">Address</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'blog-list' %}#">Blog</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'authors' %}#">Authors</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'store' %}#">Store</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>
    <br>

	<!-- Clients
============================================= -->
	<section id="clients" class="clients">
		<div class="container heading">
    {% block content %}
    {% endblock %}

		</div>
	</section>


	<!-- Footer #1
============================================= -->
	<footer id="footer" class="footer footer-1">


		<!-- Footer Bar
	============================================= -->
		<div class="footer-bar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="powered">
							<p class="m-0 text-center text-white">&copy; 2020 <b>TeskDjango</b> | Developed By: <b><a href="https://www.facebook.com/enaanfarhan">Enaan Farhan</a></b></p>
						</div>
					</div>

				</div>
			</div>
			<!-- .container end -->
		</div>
		<!-- .footer-copyright end -->
	</footer>
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script src="{% static 'assets/js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/functions.js' %}"></script>
</body>
</html>