{% extends 'base.html' %}
{% load static %}


{% block content %}
   <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
          {% for cat in cat_list %}
              <a href="#" class="list-group-item">{{ cat.name }}</a>
          {% endfor %}
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">

          <!--Product Card-->
          {% for product in pro_list  %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="{{product.image.url}}" alt="">

              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{ product.name}}</a>
                </h4>
                <h5>‎৳{{ product.price}}</h5>
                <p class="card-text">{{ product.description}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Review: {{product.review}}/5 </small>
              </div>
            </div>
          </div>
          {% endfor %}
          <!--Product Card End-->

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->



  <!-- Bootstrap core JavaScript -->
  <script src={% static 'vendor/jquery/jquery.min.js'}></script>
  <script src={% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'}></script>

   {% endblock %}