{% extends 'base.html' %}
{% load static %}

{% block content%}
<section class="section-wrap single-product pt-70">
  <div class="container relative">
    <div class="row">

      <div class="col-md-6">

        <div id="slider" class="flexslider">

          <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <ul class="slides clearfix" style="width: 1200%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
              <li class="flex-active-slide" style="width: 555px; float: left; display: block;">
                <a href="img/product_large_1.jpg" data-lightbox="true">
                  <img src="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" alt="" draggable="false">
                  <i class="arrow_expand"></i>
                </a>
              </li>
              <li style="width: 555px; float: left; display: block;">
                <a href="img/product_large_2.jpg" data-lightbox="true">
                  <img src="img/product_large_2.jpg" alt="" draggable="false">
                  <i class="arrow_expand"></i>
                </a>
              </li>
              <li style="width: 555px; float: left; display: block;">
                <a href="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" data-lightbox="true">
                  <img src="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" alt="" draggable="false">
                  <i class="arrow_expand"></i>
                </a>
              </li>
              <li style="width: 555px; float: left; display: block;">
                <a href="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" data-lightbox="true">
                  <img src="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" alt="" draggable="false">
                  <i class="arrow_expand"></i>
                </a>
              </li>
              <li style="width: 555px; float: left; display: block;">
                <a href="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" data-lightbox="true">
                  <img src="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" alt="" draggable="false">
                  <i class="arrow_expand"></i>
                </a>
              </li>
              <li style="width: 555px; float: left; display: block;">
                <a href="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" data-lightbox="true">
                  <img src="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" alt="" draggable="false">
                  <i class="arrow_expand"></i>
                </a>
              </li>
            </ul>
          </div>
          <ul class="flex-direction-nav">
            <li class="flex-nav-prev"><a class="flex-prev flex-disabled" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a></li>
            <li class="flex-nav-next"><a class="flex-next" href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>

        <div id="thumbs" class="flexslider">

          <div class="flex-viewport" style="overflow: hidden; position: relative;">
            <ul class="slides" style="width: 1200%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
             <!-- <li class="flex-active-slide" style="width: 103px; float: left; display: block;">
                <img src="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" alt="" draggable="false">
              </li>-->
              <!--<li style="width: 103px; float: left; display: block;">
                <img src="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" alt="" draggable="false">
              </li>-->
              <!--<li style="width: 103px; float: left; display: block;">
                <img src="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" alt="" draggable="false">
              </li>-->
              <!--<li style="width: 103px; float: left; display: block;">
                <img src="http://deothemes.com/envato/amadea/html/img/product_large_1.jpg" alt="" draggable="false">
              </li>-->
              <!--<li style="width: 103px; float: left; display: block;">
                <img src="" alt="" draggable="false">
              </li>-->
              <!--<li style="width: 103px; float: left; display: block;">
                <img src="img/thumb_6.jpg" alt="" draggable="false">-->
              </li>
            </ul>
          </div>
          <ul class="flex-direction-nav">
            <li class="flex-nav-prev"><a class="flex-prev flex-disabled" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a></li>
            <li class="flex-nav-next"><a class="flex-next" href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>

      </div>
      <!-- end col -->

      <div class="col-md-6 product-description-wrap">
        <h1 class="product-title">ladies bag</h1>
        <!--<div class="rating">
          <a href="#">3 Reviews</a>
        </div>-->
        <span class="price">
	            				<!--<del>
	            					<span>$322</span>
        </del>-->
        <ins>
	            					<span class="ammount">$299.99</span>
	            				</ins>
        </span>
        <p class="product-description">Amadea Shop is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine. Grab this theme now.</p>
        <!--<div class="color-swatches clearfix">
          <h6>Color:</h6>
          <a href="#" class="swatch-brown selected"></a>
          <a href="#" class="swatch-red"></a>
          <a href="#" class="swatch-cream"></a>
          <a href="#" class="swatch-black"></a>
          <a href="#" class="swatch-white"></a>
        </div>
-->
        <!--<div class="size-options clearfix mb-40">
          <h6>Size:</h6>
          <a href="#" class="size-xs selected">XS</a>
          <a href="#" class="size-s">S</a>
          <a href="#" class="size-m">M</a>
          <a href="#" class="size-l">L</a>
          <a href="#" class="size-xl">XL</a>
        </div>-->

        <a href="#" class="btn btn-dark btn-md add-to-cart left">Add to Cart</a>


        <div class="product_meta">
           Category: <a href="#">Accessories</a></span>
          <span class="tagged_as">Tags: <a href="#">Elegant</a>, <a href="#">Bag</a></span>
        </div>


      </div>
      <!-- end product description -->

      <div class="col-md-12 mt-70">
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#tab-one" data-toggle="tab">Description</a>
            </li>
            <li>
              <a href="#tab-two" data-toggle="tab">Information</a>
            </li>
            <!--<li>
              <a href="#tab-three" data-toggle="tab">Reviews</a>
            </li>-->
          </ul>
          <!-- end tabs -->

          <!-- tab content -->
          <div class="tab-content pb-0">

            <div class="tab-pane fade in active" id="tab-one">
              <p>
                We possess within us two minds. So far I have written only of the conscious mind. I would now like to introduce you to your second mind, the hidden and mysterious subconscious. Our subconscious mind contains such power and complexity that it literally
                staggers the imagination.And finally the subconscious is the mechanism through which thought impulses which are repeated regularly with feeling and emotion are quickened, charged. Our subconscious mind contains such power and complexity
                that it literally staggers the imagination.And finally the subconscious is the mechanism through which thought impulses.
              </p>
            </div>

            <div class="tab-pane fade" id="tab-two">
              <table>
                <thead>
                  <tr>
                    <th>CPU</th>
                    <td>2.7GHz quad-core Intel Core i5 Turbo Boost up to 3.2GHz</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>RAM</th>
                    <td>8GB (two 4GB) memory</td>
                  </tr>
                  <tr>
                    <th>Video</th>
                    <td>Intel Iris Pro Graphics</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="tab-pane fade" id="tab-three">

              <div class="reviews">
                <ul class="reviews-list">
                  <li>
                    <div class="review-body">
                      <div class="review-content">
                        <p class="review-author"><strong>Alexander Samokhin</strong> - May 6, 2014 at 12:48 pm</p>
                        <div class="rating">
                          <a href="#"></a>
                        </div>
                        <p>This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.</p>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="review-body">
                      <div class="review-content">
                        <p class="review-author"><strong>Christopher Robins</strong> - May 6, 2014 at 12:48 pm</p>
                        <div class="rating">
                          <a href="#"></a>
                        </div>
                        <p>This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.</p>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
              <!--  end reviews -->
            </div>

          </div>
          <!-- end tab content -->

        </div>
      </div>
      <!-- end tabs -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
{% endblock %}
