{% extends 'base.html' %}
{% load static %}

{% block content%}

	<section id="page-title" class="page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6">
					<h1>Shop Single Product</h1>
				</div>
				<!-- .col-md-6 end -->
				<div class="col-xs-12 col-sm-12 col-md-6">
					<ol class="breadcrumb text-right">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li class="active">shop</li>
					</ol>
				</div>
				<!-- .col-md-6 end -->
			</div>
			<!-- .row end -->
		</div>
		<!-- .container end -->
	</section>
	<!-- #page-title end -->
	
	<!-- Shop Single right sidebar
============================================= -->
	<section id="shopgrid" class="shop shop-single">
		<div class="container shop-content">

			<!-- .row end -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-5">
					<div class="prodcut-images">
						<div class="product-img-slider">
							<img src="{{ single_prod.image.url }}" alt="product image">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7">
					<div class="product-title text-center-xs">
						<h3>{{ single_prod.name }}</h3>
					</div>
					<!-- .product-title end -->
					<div class="product-meta mb-30">
						<div class="product-price pull-left pull-none-xs">
							<p>${{ single_prod.price }}</p>
						</div>
						<!-- .product-price end -->
						<div class="product-review text-right text-center-xs">
							<span class="product-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-o"></i>
							<i class="fa fa-star-o"></i>
							</span>
							<span>{{ single_prod.review }} Review(s)</span> / <span>
							<a href="#">Add Review</a>
							</span>
						</div>
						<!--- .product-review end -->
					</div>
					<!-- .product-img end -->
					
					<div class="product-desc text-center-xs">
						<p class="mb-0">{{ single_prod.description }}</p>
					</div>
					<!-- .product-desc end -->
					
					<hr class="mt-30 mb-30">
					<div class="product-details text-center-xs">
						<h5>Other Details :</h5>
						<ul class="list-unstyled">
							<li>Category : <span>{{ single_prod.category }}</span></li>
						</ul>
					</div>
					<!-- .product-details end -->
					<hr class="mt-30 mb-30">
					<div class="product-action">
						<div class="product-quantity pull-left pull-none-xs">
							<span class="qua">Quantity:</span>
							<span>
							<a href="#"><i class="fa fa-minus"></i></a>
							<input type="text" value="1" id="pro-qunt" readonly>
							<a href="#"><i class="fa fa-plus"></i></a>
							</span>
						</div>
						<div class="product-cta text-right text-center-xs">
							<a class="btn btn-primary" href="#">add to cart</a>
							<a class="btn btn-primary bordered" href="#">wishlist</a>

						</div>
					</div>
					<!-- .product-action end -->
					<hr class="mt-30 mb-30">
					<div class="product-share  text-center-xs">
						<h5 class="share-title">share product: </h5>
						<a class="share-facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="share-twitter" href="#"><i class="fa fa-twitter"></i></a>
						<a class="share-google-plus" href="#"><i class="fa fa-google-plus"></i></a>
						<a class="share-pinterest" href="#"><i class="fa fa-pinterest"></i></a>
						<a class="share-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
					</div>
					<!-- .product-share end -->
				</div>
			</div>
			<!-- .row end -->
		</div>
		<!-- .container end -->
	</section>
	<!-- #blog end -->


{% endblock %}